.lostModal {
    font-family: 'Crimson Text', serif;
}

.lostModalText {
    color: #B25C2E;
}

.lostModalClose {
    background-color: #B25C2E;
    border: none;
}

.lostModalClose:hover {
    background-color: #B7CFCF;
}