.wonModal {
    font-family: 'Crimson Text', serif;
}

.wonModalText {
    color: #E48897;
}

.wonModalClose {
    background-color: #E48897;
    border: none;
}

.wonModalClose:hover {
    background-color: #B7CFCF;
}